# Telegram API credentials (получить на https://my.telegram.org/)
API_ID=your_api_id
API_HASH=your_api_hash

# Bot token для отправки сообщений (получить у @BotFather)
BOT_TOKEN=your_bot_token

# Целевая группа для уведомлений (например: @your_target_group или https://t.me/your_group)
TARGET_GROUP=@3125476165

# Session name
SESSION_NAME=offer_search_bot

# Группы для мониторинга (через запятую)
# Можно оставить пустым для использования дефолтного списка
GROUPS_TO_MONITOR=t.me/music_group

# Ключевые слова для поиска (через запятую)
# Можно оставить пустым для использования дефолтного списка
KEYWORDS=скрипк,альт,виолончел,контрабас,арф,флейт,саксофон,саксофонист,саксофонистк,труб,тромбон,туб,валторн,кларнет,гобо,пианино,пианист,пианистк,роял,фортепиано,гитар,бас-гитар,электрогитар,акустик,баян,аккордеон,гармон,голос,вокал,вокалист,вокалистк,певиц,певец,диджей,dj,духовой,оркестр,квартет,трио,дуэт,ансамбл,кавер,кавер-бэнд,бэнд,жива,музыка,живой,звук,струнн,духов,ударн,барабан,ханг,хор,хорист,акапела,аккапела,фоновая,камерная,солист,соло,концерт,программ,репертуар,классик,джаз,jazz,поп,pop,рок,rock,эстрад,хит,хиты,танцевальн,для дет,для взросл,электро
